#service_note_form
  = form_for [@customer, @service_note] do |f|
    %fieldset
      %legend Add Service Note
      %ol
        %li
          = render 'shared/error_messages', :object => f.object

      %ol
        %li
          = f.label :date
          = f.text_field :date
      %ol
        %li
          = f.label :note
          = f.text_field :note
      %ol
        %li
          = f.hidden_field :customer_id, :value => @customer.id
          = f.submit "Add"
