/////////////////////////////
/// Customer Information ///
///////////////////////////
%div#customer
  %table.customer
    %tr
      %th
        = @customer.full_name

    %tr
      %td
        = @customer.address
        %br
        = @customer.city + ", " + @customer.state + " " + @customer.zip

    %tr
      %td
        = @customer.contact

    %tr
      %td{ :style => 'text-align: right' }
        = link_to "Edit", edit_customer_path
        |
        = link_to "Delete", @customer, :method => :delete, :confirm => "Are you sure you want to delete this customer?", :title => "Delete #{@customer.first_name} #{@customer.last_name}"
