%h1 Customer

%table
  = render "customer_header"
  %tr{ :class => cycle('odd', 'even') }
    %td
      = @customer.full_name
    %td 
      = @customer.address
    %td
      = @customer.city
    %td
      = @customer.state
    %td
      = @customer.zip
    %td
      = @customer.contact
    %td
      =link_to "Edit", edit_customer_path
      |
      =link_to "Delete"

%h1 Units
- if (@customer.units.empty?) # Display message if Customer has no units
  %p
    %i There are no units for this customer.
- else
  - # Show each Unit tied to selected customer. 
  %table
    %tr.even
      %td
        Model
      %td
        Serial Number

    - @customer.units.each do |unit|
      %tr
        %td
          = unit.model
        %td
          = unit.serial_number

%br
%br
%br
%h4
  Add new unit
= form_for @unit do |f|
  =f.label :model
  =f.text_field :model
  =f.label :serial_number
  =f.text_field :serial_number
  =f.hidden_field :customer_id, :value => @customer.id
  =f.submit "Add Unit"
