//= render 'shared/customer_info'
//////////////////////
/// Add New Units ///
/////////////////////
%div#new_unit
  = form_for [@customer, @unit] do |f|
    %div#new_unit
      %table
        %tr
          %td= f.label :model
          %td= f.text_field :model
        %tr
          %td= f.label :serial_number
          %td= f.text_field :serial_number
        %tr
          %td= f.label :install_date
          %td= f.text_field :install_date
        %tr
          %td
          %td{ :align => 'right' }
            = f.hidden_field :customer_id, :value => @customer.id
            = f.submit "Add Unit"
