<!DOCTYPE html>
%html
  %head
    %title Wiggins Electric
    = stylesheet_link_tag :all 
    = javascript_include_tag :all
    = #%script{ :type => "text/javascript", :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    = #%script{ :type => "text/javascript", :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'}
    = csrf_meta_tag
 
  %body
    %div#container
      %div#top
        %h1 Wiggins Electric
        %br
        = link_to 'Customers', customers_path
        = " - "
        = link_to 'Units', units_path
        %div#searchbar
          //= select( "searchterm", "searchby", { "Customers" => "Customers", "Units" => "Units" } )
          //= search_field(:customer, :first_name)
          //= submit_tag("Search")
          = form_tag({:controller => "customers", :action => "index"}, :method => "get") do
            = select_tag "searchby", options_for_select([ "Customers", "Serial Number" ])
            = text_field_tag :search, params[:search]
            = submit_tag "Search", :name => nil

      = render "layouts/notice_div.html.erb"
      %div#content
        = yield

      %div#footer
    = debug(params) if Rails.env.development?
